<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Escalade</servlet-name>
    <servlet-class>com.escalade.servlets.Escalade</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EscaladeAccueil</servlet-name>
    <servlet-class>com.escalade.servlets.EscaladeAccueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EscaladeResultat</servlet-name>
    <servlet-class>com.escalade.servlets.EscaladeResultat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EscaladeBdd</servlet-name>
    <servlet-class>com.escalade.servlets.EscaladeBdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSite</servlet-name>
    <servlet-class>com.escalade.servlets.AddSite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeSite</servlet-name>
    <servlet-class>com.escalade.servlets.SeSite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.escalade.servlets.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSecteur</servlet-name>
    <servlet-class>com.escalade.servlets.AddSecteur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeSecteur</servlet-name>
    <servlet-class>com.escalade.servlets.SeSecteur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifSite</servlet-name>
    <servlet-class>com.escalade.servlets.ModifSite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeSite2</servlet-name>
    <servlet-class>com.escalade.servlets.SeSite2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifSecteur</servlet-name>
    <servlet-class>com.escalade.servlets.ModifSecteur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeSecteur2</servlet-name>
    <servlet-class>com.escalade.servlets.SeSecteur2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVoie</servlet-name>
    <servlet-class>com.escalade.servlets.AddVoie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.escalade.servlets.Inscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.escalade.servlets.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.escalade.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeVoie</servlet-name>
    <servlet-class>com.escalade.servlets.SeVoie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifVoie</servlet-name>
    <servlet-class>com.escalade.servlets.ModifVoie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccesPublic</servlet-name>
    <servlet-class>com.escalade.servlets.AccesPublic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Escalade</servlet-name>
    <url-pattern>/page1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EscaladeAccueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EscaladeResultat</servlet-name>
    <url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EscaladeBdd</servlet-name>
    <url-pattern>/affichagebdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSite</servlet-name>
    <url-pattern>/addsite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeSite</servlet-name>
    <url-pattern>/site</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/deletepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSecteur</servlet-name>
    <url-pattern>/addsecteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeSecteur</servlet-name>
    <url-pattern>/secteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifSecteur</servlet-name>
    <url-pattern>/modif_secteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeSecteur2</servlet-name>
    <url-pattern>/secteur2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifSite</servlet-name>
    <url-pattern>/modif_site</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeSite2</servlet-name>
    <url-pattern>/site2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVoie</servlet-name>
    <url-pattern>/addvoie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeVoie</servlet-name>
    <url-pattern>/voie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifVoie</servlet-name>
    <url-pattern>/modif_voie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccesPublic</servlet-name>
    <url-pattern>/acces_public</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Restriction</filter-name>
    <filter-class>com.escalade.filters.Restriction</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Restriction</filter-name>
    <url-pattern>/AddSite</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Restriction</filter-name>
    <url-pattern>/AddSecteur</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Restriction</filter-name>
    <url-pattern>/AddVoie</url-pattern>
  </filter-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>